
@{
    ViewBag.Title = "AllSub";
}
<!--Hardkodirano. Nisam našo bolji način reusea zasad-->
<h1>Sve pretplate</h1><br /><br />
<h2>Pretplate na autora</h2>
<form>
    <fieldset>
        <legend>Trenutno ste pretplaćeni na:</legend>
        <a href="http://localhost:63774/Article/Top">Ivo Andrić</a>
    </fieldset>
</form>
<br />
<h2>Pretplate na temu</h2>
<form>
    <fieldset>
        <legend>Trenutno ste pretplaćeni na:</legend>
        <a href="http://localhost:63774/Article/Top">Drama</a><br />
        <a href="http://www.9gag.com">Komedija</a>
    </fieldset>
</form><br />
<h2>Pretplate na tip</h2>
<form>
    <fieldset>
        <legend>Trenutno ste pretplaćeni na:</legend>
        <a href="http://localhost:63774/Article/Top">Roman</a><br />
        <a href="#">Proza<a>
    </fieldset>
</form>
