@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<address>
    Unska 3<br />
    Zagreb, Hrvatska<br />
    <abbr title="telefon">tel:</abbr>
    01/421-421
</address>

<address>
    <strong>Podrška:</strong>   <a href="mailto:support@plid3m.com">Support@plid3m.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@plid3m.com">Marketing@plid3m.com</a>
</address>