
@{
    ViewBag.Title = "Create";
}

<h2>View</h2>

<div id="editor"></div>


@section  scripts {
<script src="/Scripts/bootstrap-wysiwyg.js"></script>
<script>
    $('#editor').wysiwyg();
</script>

}
