
@{
    ViewBag.Title = "Edit";
}

<div id="editor"></div>

@* TODO: lektor uredjuje tekst! *@

@section  scripts {
    <script src="/Scripts/bootstrap-wysiwyg.js"></script>
    <script>
    $('#editor').wysiwyg();
    </script>

}

